<h1> Edit Profile </h1>
<img src="/img/hometownhero.png"> </img>
	<br/>
	<br/>
 <form>
    
    <fieldset>
        <legend>Personal Info</legend>
        <p><label>First Name:             
            <input type="text" id="first_name" size="30" maxlength="100">
        </label></p>
        <p><label>Last Name:             
            <input type="text" id="last_name" size="30" maxlength="100">
        </label></p>
        <p><label>Mobile #:
            <input type="password" id="mobile" size="30" maxlength="100">
        </label></p>
        <p><label>Street:
            <input type="password" id="street1" size="30" maxlength="100">
        </label></p>
        <p><label>Street 2:
            <input type="password" id="street2" size="30" maxlength="100">
        </label></p>
        <p><label>City:
            <input type="password" id="city" size="30" maxlength="100">
        </label></p>
        <p><label>State:
            <input type="password" id="state" size="30" maxlength="100">
        </label></p>
        <p><label>Zip:
            <input type="password" id="zip" size="30" maxlength="100">
        </label></p>

        </fieldset>
        
    <fieldset>
        <legend>Interests</legend>
        <label>Chores            
            <input type="checkbox" id="chores_check" size="30" maxlength="100">
        </label>&ensp;
         <label>Tutoring            
            <input type="checkbox" id="tutor_interest_check" size="30" maxlength="100">
        </label>&ensp;
        <label>Animals            
            <input type="checkbox" id="animals_check" size="30" maxlength="100">
        </label>&ensp;
        
        </fieldset>

    <fieldset>
        <legend>Skills</legend>
        <label>Handy            
            <input type="checkbox" id="handy_check" size="30" maxlength="100">
        </label>&ensp;
         <label>Tutor          
            <input type="checkbox" id="tutor_skill_check" size="30" maxlength="100">
        </label>&ensp;
        <label>Child Care            
            <input type="checkbox" id="ccare_check" size="30" maxlength="100">
        </label>&ensp;
        
        </fieldset>        
    <br/><button id="edit_profile_submit">Submit</button>
    
    
</form>   
<script src="/js/ajaxUtility.js"></script>
// <script src="/js/edit_profile_screen.js"></script>
