 <form>
    
    <fieldset>
        <legend>Sign Up!</legend>
        <p><label>Email Address:             
            <input type="text" id="signup_email" size="30" maxlength="100">
        </label></p>
        <p><label>User Name:             
            <input type="text" id="signup_username" size="30" maxlength="100">
        </label></p>
        <p><label>Password:
            <input type="password" id="signup_password" size="30" maxlength="100">
        </label></p>
           <button id="signup_submit">Submit</button>
        <br />
        </fieldset>
    
</form>   
<script src="/js/ajaxUtility.js"></script>
<!--add login js script here> <script src="/js/***.js"></script>
