<h1> Hometown Heroes </h1>
<div class="main_container">
	<img src="/img/hometownhero.png"> </img>
	<br/>
	<br/>
	<button id="login_button"> Log In </button>
	<br/>
	<br/>
	<button id="signup_button"> Sign Up </button>
</div>
<script src="/js/homeGeneric.js"></script>

