HOME PAGE Generic

<br />
<form action="/login/twitter">
    <input type="submit" value="" id="twitter-sign-in-button"/>
</form>

<button id="fbbutton" class="loginBtn loginBtn--facebook">
  Login with Facebook
</button>

<script>
var fbbutton = document.getElementById("fbbutton");
function redirection()
{
        location.href="/login/facebook";

}
fbbutton.addEventListener("click",redirection);
</script>


