<h1> Log In </h1>
<img src="/img/hometownhero.png"> </img>
	<br/>
	<br/>
 <form action="/login" method="post">
    <fieldset>
        <legend>Login </legend>
        <label>User Name:             
            <input type="text" id="user_input" name="username" size="30" maxlength="100">
        </label>
        <label>Password:
            <input type="password" id="password_input" name="password" size="30" maxlength="100">
        </label>
        <br />
        <br />
        </fieldset>
    <button id="submit_button" type="submit">Submit</button>
    </fieldset>
</form>   
<!--
<script src="/js/ajaxUtility.js"></script>
<script src="/js/login_screen.js"></script>
-->
