<h1> Sign In </h1> 

<div class="main_container"> 
	<img src="/img/hometownhero.png"> </img>
	<br/>
	<br/>
	<button id="email_signup_button"> Sign in with e-mail </button>
	</br></br>
   <img id="twitter_button" src="/img/sign-in-with-twitter-gray.png"></img>
   </br></br>
	<button id="facebook_button" class="loginBtn loginBtn--facebook">
  Sign in with Facebook
	</button>

</div>

<script src="/js/signup_screen.js"> 
</script>


