label
{
	font: italic arial;
	color: black ;
}


#twitter-sign-in-button {
    width: 158px;
    height: 28px;
    background-image: url(http://flip2.engr.oregonstate.edu:16661/img/sign-in-with-twitter-gray.png);
    background-repeat: no-repeat;
}
}
