 <form>
    <fieldset>
        <legend>Login </legend>
        <label>User Name:             
            <input type="text" id="user_input" size="30" maxlength="100">
        </label>
        <label>Password:
            <input type="password" id="password_input" size="30" maxlength="100">
        </label>
        <br />
        <br />
        </fieldset>
    <button id="submit_button">Submit</button>
    </fieldset>
</form>   
<script src="/js/ajaxUtility.js"></script>
<script src="/js/login_screen.js"></script>
